<!-- Loop over each object in the movies array -->
{{#each movies as |movie| }}
<div class="row mb-4 movie">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/movie/{{movie.id}}">{{movie.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount movie.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{movie.user.name}} on {{format_date movie.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{movie.description}}
    </p>
  </div>
</div>
{{/each}}
