{{#each projects as |project|}}
<div class="row mb-4 project">
    <h2>
        {{get_emoji}}
        <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
        <span for="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{format_amount prject.needed_funding}}</span>
        needed!
    </p>
    <p>Created by {{prject.user.name}} on {{format_date project.date_created}}</p>
</div>
<div class="col-md-7">
    <p>
        {{project.description}}
    </p>
</div>
{{/each}}